# Python
# =================================================

/venv/
/env/
/.venv/
/ENV/
/virtualenv/
.vscode/

__pycache__/


.pytest_cache/
.tox/
.coverage
htmlcov/
.devcontainer/

*.egg-info/
/dist/
/build/
*.egg

weights/
*.log
*.logs
*.arrow
*.pdf
*.wandb

action_plot/
aistudio/
dataset/
kuioma_new/
LaCAM_data/
output/
temp/
eval_configs_/
plot/
pogema_in/
wandb/
svg/

read_json.py
draw_plot.py
generate_dataset__.py


